@media (min-width: 320px) and (max-width: 1200px) {
  .header {
    .header__wrapper {
      display: flex;
      flex-wrap: wrap;
      max-width: 290px;
      padding: 30px 0 85px 0;
    }

    .header__middle {
      flex-wrap: wrap;
      flex-grow: 1;
    }

    .header__logo {
      margin-bottom: 15px;

      img {
        width: 131px;
        height: 30px;
      }

      span {
        width: 130px;
        margin-left: auto;
        font-size: 14px;
      }
    }

    .header__open {
      @include button-reset;
      position: absolute;
      top: 80px;
      display: inline-block;
      padding: 0;
      margin: 6px 0 0 0;
      z-index: 5;
      width: 25px;
      height: 15px;
      background-image: url("../img/burger.png");
      background-repeat: no-repeat;
      cursor: pointer;
    }

    .header__phone {
      font-size: 24px;
      margin-left: 90px;
    }

    .header__main-header {
      width: 290px;
      margin: 45px auto 0 auto;

      span:first-child {
        font-size: 30px;
        line-height: 36px;
      }

      span:last-child {
        width: 200px;
        margin: 10px auto 0 auto;
        font-size: 18px;
        line-height: 24px;
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .header {
    .header__wrapper {
      max-width: 540px;
    }

    .header__middle {
      justify-content: center;
    }

    .header__main-header {
      width: 100%;

      span:last-child {
        width: 100%;
      }
    }

    .header__phone {
      margin-left: 300px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .header {
    .header__wrapper {
      max-width: 690px;
      padding: 38px 0 55px 0;
    }

    .header__logo {
      display: flex;
      width: 270px;
      margin-left: 31px;

      span {
        width: 120px;
        margin-left: 10px;
        font-size: 12px;
      }
    }

    .header__open {
      position: static;
    }

    .header__phone {
      margin-left: 110px;
      font-size: 30px;
    }

    .header__main-header {
      width: auto;
      margin: 15px auto 0 auto;

      span:first-child {
        font-size: 40px;
        line-height: 55px;
      }

      span:last-child {
        width: auto;
        margin-top: 0;
        font-size: 21px;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header {
    .header__wrapper {
      max-width: 960px;
      padding: 38px 0 55px 0;
    }

    .header__main-header {

      span:first-child {
        font-size: 40px;
      }

      span:last-child {
        font-size: 30px;
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .header {
    .header__wrapper {
      max-width: 1140px;
      padding: 38px 0 55px 0;
    }

    .header__phone {
      font-size: 30px;
    }
  }
}

.header {
  position: relative;
  z-index: 1;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba($black, 0.5);
    z-index: 0;
  }

  .header__open {
    display: none;
  }

  .header__wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 1290px;
    padding-top: 20px;
  }

  .header__logo {
    display: flex;
    width: 300px;

    span {
      margin-left: 10px;
    }
  }

  .header__middle {
    display: flex;
    justify-content: space-between;
  }

  .header__phone {
    font-size: 36px;
    line-height: 35px;
    font-weight: 600;
    cursor: pointer;
    color: inherit;

    span {
      color: $blue;

      &:hover {
        color: $yellow;
      }
    }
  }

  .header__main-header {
    width: 1140px;
    margin: 95px auto 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;

    span:first-child {
      font-size: 64px;
      line-height: 90px;
      color: #ffe640;
      font-weight: 800;
    }

    span:last-child {
      margin-top: 10px;
      font-size: 40px;
      font-weight: 600;
    }
  }
}
